.Home_navBar{


    width: 100%;
    height: auto;
    display: flex;
    
    padding: 0rem;
    margin: 6rem auto;
    flex-direction: row;
    
    justify-content: center;
    flex-wrap: wrap;
    
}
.Home_navbar_List{
    width: 60%;
    height: auto;
   
    margin: 0rem auto;
    padding: 0rem;
}

.following_list_home{
    width: 30%;
  
  
    margin: 0rem auto;
    padding: 0rem;

}
.Home_First{


   
    max-width: 60%;
    max-height: auto;
    display: flex;
    justify-content: flex-start;

    margin: 8rem auto;
    padding: 0rem;
}


/* Start navbar*/
.Home_left{
    width: 60%;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;


}








/* Comment Start */
.post_comment_x{
    
    width: 60%;
    height: auto;
    margin: 2rem auto;
    display: block;
    padding: 0rem;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
}
                   

.all_Post{
    margin: 1rem auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    border: none;
    box-shadow: 0rem 0rem 0.1rem #9b9696;
    border-radius: 0.3rem;
    outline: none;
    
}

.post_image_info{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.2rem auto;
}
.post_image_info_imag{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: 0rem 0rem 0rem 0.1rem #e91e1ebd;
    cursor: pointer;
    opacity: 0.9;
    padding: 0.2rem;
}
.post_image_info_name{
    padding-left: 1rem;
    font-family: -webkit-pictograph;
    text-transform: capitalize;
    outline: none;
}

.iconsInfo{
    margin-left: auto;
}
.iconsInfo i {
    font-size: 17px;
    cursor: pointer;
    opacity: 0.7;
}


.post_image{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.2rem auto;
    transition: .6s;
    animation: mymove 5s;
}
@keyframes mymove {
    from {
        transform: translate(-200px);
    }
    
  }

.post_image{
    width: 100%;
    height: 470px;
}


.icons_like_all{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0rem auto;

}
.icons_like_all i{
    padding-left: 0rem;
    cursor: pointer;
    opacity: 0.9;
    color: black;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 20px;

}

.icons_like_all i span{
   font-size: 19px;
   margin-left: 0.3rem;
   color: black;
   cursor: pointer;
  
   

}

.model_edit_remove{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0;
    display: flex;
    justify-content: center;
    transition: opacity .4s ease, visibility .4s ease, transform .4s easw-in-out;
    background-color: rgb(0 0 0 / 5%);
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 34534543;
    visibility: hidden;
    flex-direction: column;
}
.model_edit_remove.open{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
.model_edit_remove_new{
    background-color: #fff;
    width: 30%;
    height: 135px;
    display: block;
    border: none;
    outline: none;
    border-radius: 1rem;
}
.model_edit_remove_new i {
    font-size: 20px;
    text-align: right;
    width: 90%;
    padding: 0.2rem;
    cursor: pointer;
}
.model_edit_remove__remove{

text-transform: capitalize;
font-size: 18px;
width: 100%;
display: block;
margin: 0.4rem auto;
font-family: monospace;
text-align: center;
cursor: pointer;


}
.model_edit_remove__edit{
    text-transform: capitalize;
    font-size: 18px;
    width: 100%;
    display: block;
    margin: 0.4rem auto;
    font-family: monospace;
    text-align: center;
    cursor: pointer;
}

.viewLike{
    font-size: 14px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    width: 91%;
    padding: 0rem;
    margin: 0.5rem auto;
}
.view_lis{
    padding: 0rem;
    width: 100%;
    margin: 0rem auto;
}

.post_comment{
    
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0rem;
    margin: 0rem auto;
    
}

.post_commentall{
    display: flex;
    width: 90%;
    align-items: center;
    padding: 0rem;
    margin: 0.1rem auto;
   

}
.post_comment_name{
    padding: 0rem;
    margin: 0rem;
    text-transform: capitalize;
    font-size: 13px;
    font-family: inherit;
}
.post_comment_comment{
    text-transform: capitalize;
    color: #6868ea;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    padding: 0rem;
    margin: 0rem auto;
    width: 100%;
}
.post_comment_comment_x{
    padding-left: 2.2rem;
    margin: 0.3rem;
    text-transform: capitalize;
    font-size: 13px;
    font-family: inherit;
    cursor: pointer;
}
.post_commentall i{
    margin-left: auto;
}
.time__{
    display: block;
    width: 90%;
    align-items: center;
    padding: 0rem;
    margin: 0.5rem auto;
    text-transform: capitalize;
    font-size: 12px;
    font-family: monospace;
}


.comment_write{
   
    width: 100%;
    display: flex;
    position: relative;
    padding: 0rem;
    margin: 0rem auto;
    justify-content: flex-start;
    height: auto;
    border-top: 1px solid #9b9696
}
.input_comment_xxx{
 
    width: 100%;
    display: block;
    padding: 0rem;
    margin: 0rem;
    height: 50px;
    
    padding-left: 1rem;
    border: none;
    outline: none;
  
   font-size: 14px;
}
.comment_write_post{
    position: absolute;
    right: 1rem;
    font-size: 15px;
    font-family: 'Font Awesome 5 Free';
    color: #0000ffa3;
    opacity: 0.7;
    top: 0rem;
    cursor: pointer;
}
    






/* Start navBar List Follow... */

.Home_rinht{
    width: 30%;
    
    padding: 0rem;
    margin: 0rem;
   
    display: block;
}

.flex_dev{
    position: fixed;
    display: block;
    width: 23%;
    padding: 0.2rem;
    margin: 0rem;
}

.info_user{
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0rem auto;
    padding: 0.2rem;
}
.info_user_image{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: 0rem 0rem 0rem 0.1rem #e91e1ebd;
    cursor: pointer;
    opacity: 0.9;
    padding: 0.2rem;
}
.info_user_name{
    padding-left: 2rem;
    font-size: 14px;
    font-family: inherit;
    text-transform: capitalize;
}


.FollowareIng{
    
    padding: 0rem;
    margin: 2rem auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 18rem;
    overflow: hidden;

}

.first_follo{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem;
    margin: 0.6rem auto;
    
}
.first_follo p {
    padding: 0.4rem;
    margin: 0rem;
    text-transform: capitalize;
    font-family: monospace;
    cursor: pointer;
    font-size: 13px;
    color: #8e8e8e;
}
.first_follo .block{
    color: black;
}

.follo_list__{
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.follo_list___user{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: center;
    padding: 0rem;
    margin: 0.3rem auto;
    align-items: center;
}
.follo_list__image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: 0rem 0rem 0.3rem #d71111;
    cursor: pointer;
    opacity: 0.9;
    padding: 0.2rem;
}
.follo_list__name{
    padding-left: 1rem;
    text-transform: capitalize;
    font-size: 12px;
    font-family: -webkit-pictograph;
}
.follo_list__follow{
    margin-left: auto;
    font-size: 15px;
    opacity: 0.7;
    top: 0rem;
    cursor: pointer;
    border: none;
    padding: 0.2rem;
    border-radius: 0.4rem;
    color: #0000ffa3;
    outline: none;
    font-weight: bold;
}

.stopUp{
    position: fixed;
    bottom: 10px;
    right: -50px;
    width: 40px;
    height: 40px;
    color: black;
    background: #eee;
    line-height: 40px;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    transition: .6s;
    transform-style: preserve-3d;
}
.stopUp.addShop{
    right: 10px;
}
.stopUp i {
    transition: .6s;
}
.stopUp i:hover{


    transform: rotate(10deg);
    color: gray;
}

@media  screen  and (max-width: 990px) {



    .xx{
        width: 100%;
        margin: 10rem auto;
       
        display: block;
    }

    .Home_First{
       
        width: 100%;
        display: block;

    }.Home_left{
        width: 100%;

    }.all_Post{
        width: 98%;
    }

    .Home_rinht{
        display: none;
        
    }


    .Home_navbar_List{
       width: 100%;
    }

    .following_list_home{
      display: none;
    }
    .post_comment_x{
        width: 70%;
    }

    
}
  

@media   (max-width: 600px) {



    .icons_like_all{
        width: 42%;
        margin: 0.5rem 0.5rem 0rem 0.5rem;
        padding: 0rem;
    }


    .Home_navBar{

         margin: 5.8rem auto;
        
    }

    .post_comment_x{
        width: 100%;
    }
    .model_edit_remove_new{
        width: 90%;
    }


}


