.navbar_scroll{
 width: 60%;
        margin: 0rem auto;
        display: flex;
        background-color: #fff;
        outline: none;
        overflow: hidden;
        box-shadow: 0rem 0rem 0.1rem #9b9696;
        height: 5.5rem;
        justify-content: flex-start;
    
}



.navBarUploading_myStory{

  
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    padding: 0.4rem
    
}

.navBarUploading_myStory_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: 0rem 0rem 0rem 0.2rem rgba(255, 0, 0, 0.301);
    opacity: 1;
    cursor: pointer;
    padding: 0rem;
    margin: 0rem auto;
    text-align: center;
    
    
}
.navBarUploading_myStory_icons{
    width: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0.7rem;
    opacity: 0.7;
}
.navBarUploading_myStory_icons i {

    width: 25px;
    height:25px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.63);
    line-height: 25px;
    color: white;
    text-align: center;
    cursor: pointer;
    transform-style: preserve-3d;
    box-shadow: 0rem 0rem 0rem 0.2rem rgba(255, 0, 0, 0.301);
    font-size: 12px;

    
}.navBarUploading_myStory_icons i:hover{
    transform: translate(-20px)
}
.file_uploading{
    padding: 0rem;
    margin: 0rem;
    margin-left: -2rem;
    opacity: 0;
    width: 50%;
  
   
}



/* List all Story */

.navBarUploading_allStory{
    
   width: 80%;
    overflow-x:auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
   

}
.navBarUploading_allStory_box{
   width: 20%;
    text-align: center;
    padding: 0rem;
    display: flex;
    
    display: block;
    padding: 0.4rem
   
}
.navBarUploading_allStory_Image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: 0rem 0rem 0rem 0.2rem rgba(255, 0, 0, 0.301);
    opacity: 1;
    cursor: pointer;
    padding: 0rem;
    margin: 0rem auto;
    text-align: center;
}


.navbar_scroll_image_create{
    
    width: 19%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}
.navbar_scroll_image_photo_create_story{

    box-shadow: 0rem 0rem 0rem 0.1rem #e91e1ebd;
   
    width: 60px;
    height: 60px;
    transition: opacity 3s;
    margin-top: -1rem;
 
    border-radius: 50%;
    cursor: pointer;
   
    outline: none;
    
   
}
.create_story{
    
width: 100%;
height: 2rem;

display: flex;
justify-content: center;
position: absolute;
bottom: -0.6rem;
left: 0.5rem;

  

}




.model___open{
    background-color: #1a1a1a;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0rem;
    display: flex;
    justify-content: center;
    left: 0rem;
    z-index: 34444444444444444444444444444444444;
    transition: opacity .4s ease, visibility .4s,transform .4 easw-in-out;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    
  
}
.model___open.open{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.Closse__x{
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 31px;
    color: #FFF;
    font-family: cursive;
    cursor: pointer;
    transition: .2s;
    transform-style: preserve-3d;
    z-index: 43567890;
}.Closse__x:hover{

    transform: rotate(10deg);
}
.nav__bar_slider{
    width: 30%;
    height: 650px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
   

}



.Loading{
    width: 95%;
    background-color: #EEE;
    padding: 0rem;
    margin: 0rem auto;
    height: 0.2rem;
    display: flex;
    position: absolute;
    top: 3.1rem;
    flex-direction: row;
    border-radius: 0.4rem;
    transition: .6s;
    justify-content: space-around;
    overflow: hidden;

}
.Loading_full{
    
    background-color: black;
    margin: 0rem auto;
    padding: 0rem;
    transition: .6s;
    overflow: hidden;
    box-shadow: 0rem 0rem 0.1rem black;
    width: 33%;
    border-right: 1px solid #EEE;
    color: white;
}

.Loading_avtiv{
    background-color: black;
    display: block;
    margin: 0rem;
    padding: 0rem;
    transition: .6s;
    overflow: hidden;
    box-shadow: 0rem 0rem 0.1rem black;
    width: 30%;
    border-right: 1px solid #EEE;
    color: white;
    width: 33%;
}


.top_user_info{
    align-items: center;
    display: flex;
    width: 100%;
    margin: 0rem auto;
    padding: 0rem;
    position: absolute;
    top: 3.7rem;
}
.top_user_info-Image{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    outline: none;
    margin-left: 1rem;
    outline: none;
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgb(241, 65, 65);
}
.text-username{
    margin-left: 1rem;
    color: black;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bold;
    z-index: 345677878;
    text-shadow: 0rem 0.1rem 0.1rem black;
}
.user-upploading-date{
    margin-left: 0.7rem;
    color: black;
    font-size: 13px;
    text-transform: capitalize;
    text-shadow: 0rem 0.1rem 0.1rem black;
}



.Image-slider-clipa{
    width: 100%;
    height: 87%;
    padding: 0rem;
    margin: 0rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;

}




.iconsNext i:hover{
    opacity: 1;
}

.iconsNext i {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #EEE;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    cursor: pointer;
    opacity: 0.6;
    transform-style: preserve-3d;
    transition: .5s;

    

}
.nextleft{
    position: absolute;
    left: -3rem;
}
.nextrigth{
    position: absolute;
    right:-3rem;
}




.nav__bar_slider_image{
    width: 80%;
    height: 100vh;
    border-radius: 3rem;
    outline: none;
    border: none;
    box-shadow: 0rem 0rem 0.4rem #FFF;
}

.nav__bar_slider_image_user{
    position: absolute;
    top: 1rem;
    left: 7rem;
    width:  60px;
    height:  60px;
    border-radius: 50%;
    box-shadow: 0rem 0rem 0.3rem #FFF;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: .5s;
}.nav__bar_slider_image_user:hover{
    transform: scale(1.6);
}
.x-x{
    width: 80%;
    height: 100vh;
}

.comment_story{
   
    position: absolute;
    bottom: 0rem;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    margin: 0rem auto;
    background-color: rgba(255, 235, 205, 0.082);
    border-radius: 1rem;
    outline: none;
    border: none;
    box-shadow: 0rem 0rem 0rem #FFF;
}
.input_Message{

   
    border: none;
    border-radius: 0.9rem;
    height: 50px;
    width: 60%;
    margin: 0.6rem;
    outline: none;
    background: none;
    box-shadow: 0rem 0rem 0.4rem rgb(121, 113, 113);
    color: #FFF;
text-transform: capitalize;
font-size: 20px;
cursor: pointer;
opacity: 0.6;
transform-style:preserve-3d;

}.input_Message:hover{
  
    opacity: 1;
}

.comment_story i{
    
    color: rgb(121, 113, 113);
    transition: .3s;
    height: auto;
    font-size: 30px;
    cursor: pointer;
    opacity: 0.6;
}.comment_story i:hover{
    transform: scale(1.1);
    opacity: 1;
   
}

/* comment ... */
.instagram{
    position: absolute;
    color: white;
    z-index: 345566;
    top: 1rem;
    left: 1rem;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    opacity: 0.7;
    font-family: 'Lobster', cursive;
    transform-style: preserve-3d;
    transition: .9s;
}.instagram:hover{
    opacity: 1;
    transform: translate(-10px);
}
.comment-formUser{
    width: 100%;
    margin: 0rem auto;
    display: flex;
    z-index: 43567;
    bottom: 0rem;
    align-items: center;
    position: absolute;
}

.input_comment-input{
    border-radius: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: 0rem 0rem 0rem 0.1rem #eee;
    margin: 0rem auto;
    cursor: pointer;
    text-transform: capitalize;
    color: black;
    display: block;
    width: 80%;
    text-align: left;
    height: 33px;
    font-size: 13px;
    font-family: inherit;

}
.comment-formUser i{
    font-size: 24px;
    padding-left: 1rem;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .6s;
    color: #eee;
    font-weight: normal;
}.comment-formUser i:hover{
    transform: scale(1.1);
}


@media (max-width: 1100px){
    .nav__bar_slider{
        width: 50%;
    }
    .navbar_scroll{
        width: 70%;
    }
}


@media (max-width: 600px){
    .navbar_scroll{
        width: 99%;
        overflow-x: auto;
    }
    .Image-slider-clipa{
        width: 100%;
        height: 88%;
        
    }
    .nav__bar_slider{
        width: 95%;
        height: 50%;
        margin: 5rem auto;
        align-items: normal;
    }
    .iconsNext{
        position: absolute;
        width: 67%;
        margin: 12rem auto;
    }.iconsNext i{
        background-color: black;
        color: white;
        cursor: pointer;
    }
    .Loading{
        top: 1.5rem;
    }.top_user_info{
        top: 2.4rem;
    }
    .comment-formUser{
        bottom: 0rem;
    }
    .model___open{
        align-items: normal;
    }

}